- content_for :head do
  = javascript_include_tag 'fancybox/jquery.fancybox'
  = stylesheet_link_tag '/javascripts/fancybox/jquery.fancybox.css'
.wrapper
  #signup_form.col60
    = render :partial => "form"
  #signup_body_text.col40.right.text
    Welcome to the WriteIdeally community - the only thing standing between you and more efficient writing is this short form!
    If you have any questions about signing up, please check out the help page, or you can contact us here.

    - stats = idea_statistics
    %ul{:class => 'statistics'}
      %li
        = stats[:number_of_users]
        = t('statistics.number_of_users')
      %li
        = stats[:number_of_ideas]
        = t('statistics.number_of_ideas')
      %li
        And unlimited imagination.

    = render :partial => "devise/shared/links"

