#edit_password_reset.key_container
  .col50{:style => 'margin-top: 10%;'}
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token

      %p
        = f.label :password, :class => 'important'
        = f.password_field :password, :class => 'password important'
      %p
        = f.label :password_confirmation, :class => 'important'
        = f.password_field :password_confirmation, :class => 'password important'
      %p
        = f.submit "Change Password", :class => 'key-submit', :style => 'font-size: 0.8em;'

  .col50.right.text
    You can now enter a new password in the form to the left, and will be logged in and able to access all of your ideas just as before. As with all passwords, you should protect yourself by making sure that the password you choose is a good mix of letters, numbers and special characters.
    = render :partial => "devise/shared/links"

