#new_password_reset.key_container
  .col50{:style => 'margin-top: 10%;'}
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!

      %p
        = f.label :email, :class => 'important'
        = f.text_field :email, :class => 'text important qtip-input', :title => "Enter the email address you used when you signed up to WriteIdeally."
      %p
        = f.submit "Send Reset Link", :class => 'key-submit', :style => 'font-size: 0.8em;'
  .col50.right.text
    Resetting your password is a simple and secure procedure. After entering your email address below, we will send you an email containing a link that you can click on to enter a new password - this link is unique, and only you can access it. Once you have changed your password, you will be automatically logged in and able to use WriteIdeally.

