<ul class="nav pull-right">
	<li class="dropdown">
		<%= link_to new_user_registration_url, :'data-toggle' => 'dropdown', :class => 'dropdown-toggle' do %>
			Sign Up
			<%= content_tag :strong, '', :class => 'caret' %>
		<% end %>
		<div class="dropdown-menu registration-dropdown">
			<%= render :partial => 'shared/sign_up_form' %>
		</div>
	</li>

	<li class="divider-vertical"></li>
	<li class="dropdown">
		<%= link_to new_user_session_url, :'data-toggle' => 'dropdown', :class => 'dropdown-toggle' do %>
			Sign In
			<%= content_tag :strong, '', :class => 'caret' %>
		<% end %>
		<div class="dropdown-menu">
			<%= render :partial => 'shared/sign_in_form' %>
		</div>
	</li>
</ul>