= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = devise_error_messages!
  %p
    = f.label :username, :class => 'important'
    = f.text_field :username, :class => 'text important qtip-input', :title => t('users.login.username')
  %p
    = f.label :password, :class => 'important'
    = f.password_field :password, :class => 'password important qtip-input', :title => t('users.login.password')
  - if devise_mapping.rememberable?
    %p{:style => 'margin-left: 6%;'}
      = f.check_box :remember_me
      = f.label :remember_me, :class => 'important', :style => 'display: inline;'
  %p
    = f.submit "Sign in", :class => 'key-submit'

