#about-page.wrapper
  .col50.left
    .contact
      %h3 Contact Us
      = form_tag contact_path do
        = text_field_tag :name, (current_user ? current_user.username : ""), :class => 'text important'
        = text_field_tag :email, (current_user ? current_user.email : ""), :class => 'text important'
        = text_area_tag :message
        = submit_tag "Send Message", :class => 'key-submit small', :style => 'font-size: 0.8em;'
    .attribution
      %h3 Attribution
      Thanks to:
      %ul
        %li
          = link_to "Ruby on Rails", "http://www.rubyonrails.org"
          for making web applications just like WriteIdeally easy.
        %li
          = link_to "jQuery", "http://www.jquery.com"
          for making web pages pretty.
        %li
          = link_to "qTip", "http://craigsworks.com/projects/qtip/"
          for making popup-boxes fantastically flexible.
        %li
          = link_to "Monica Corduneanu from Creatures Land", "http://www.creaturesland.com"
          for creating Mr. Acorn, our mascot of choice.
  .col50.right.text{:style => 'text-align: justify;'}
    %p
      WriteIdeally came about as a joint project between Gemma and Josh - Josh wanted to teach Gemma how to use Ruby on Rails, and Gemma wanted something to help her better manage her ideas - thus, WriteIdeally was born.
    %p
      We're quite proud of the service we offer - we think it the most flexible and able idea management application on the web today, and we can vouch for it, seeing as how we use it ourselves. Not everything goes swimmingly though, so if you have any problems, complaints, wishes, desires or just want to have a chat, we would love to hear from you.

