%div{:style => 'color: #222; background-color: #EFEFEF; width: 550px; padding: 10px; font-family: Georgia, Times New Romain, serif font-size: 14px;' }

  = image_tag "http://#{ActionMailer::Base.default_url_options[:host]}/images/mailing/writeideally_heading.jpg"
  %p
    %strong
      = "Website contact from #{@info[:name]} <#{@info[:email]}>:"
  %p
    Here is what they said:
    = @info[:message]

  %p
    You should immediately review the contents of this message and get back to the user at:
    = link_to @info[:email], @info[:email]
  %p
    = "- The WriteIdeally Postman"

