!!! 5
%html
  %head
    %title= t('title')
    <link rel = 'icon' href = '/favicon.ico' />
    <link rel = 'shortcut icon' type = 'application/x-icon' href = '/favicon.ico' />
    = stylesheet_link_tag ['reset', 'mobile'], :cache => 'writeideally_mobile'
    = javascript_include_tag :defaults, :cache => 'writeideally_mobile'
    = csrf_meta_tag

    = yield :head
  %body
    .container
      .header
        %h1= "Write"
        %h1= "Ideally"
      .content
        = yield

